<!-- sidebar start -->
<ul id="dashboard-menu">
    <li class="active">
        <div class="pointer">
            <div class="arrow"></div>
            <div class="arrow_border"></div>
        </div>
        <a href="#">
            <i class="icon-home"></i>
            <span>Home</span>
        </a>
    </li>
    <li>
        <a href="#venues">
            <i class="icon-beer"></i>
            <span>Venues</span>
        </a>
    </li>
    <li>
        <a href="#drivers">
            <i class="icon-dashboard"></i>
            <span>Drivers</span>
        </a>
    </li>
    <li>
        <a href="#customers">
            <i class="icon-group"></i>
            <span>Customers</span>
        </a>
    </li>
    <li>
        <a href="#fares">
            <i class="icon-road"></i>
            <span>Fares</span>
        </a>
    </li>
    <li>
        <a href="#" id="logoutButton">
            <i class="icon-share-alt"></i>
            <span>Logout</span>
        </a>
    </li>
</ul>
<script src="js/models/menu.js"></script>
<!-- sidebar end -->