<!-- Detail Begin -->

        <img src="img/contact-profile.png" alt="contact" class="avatar img-circle" />
        <h3><%=fare.total_time%></h3>
        <!--
        Edited according to specification
        <h3><%=fare.total_time%></h3>
        <h3><%=fare.pickup_address%></h3>
        <h3><%=fare.rate_per_mile%></h3>
        <h3><%=fare.credit_card%></h3>
        <h3><%=fare.time_fare%></h3>
        <h3><%=fare.balance%></h3>
        <h3><%=fare.destination_address%></h3>
        <h3><%=fare.pickup_address%></h3>
        <h3><%=fare.ride_receipt_id%></h3>
        <h3><%=fare.base_fare%></h3>
        <h3><%=fare.billed_to_card_amount%></h3>
        <h3><%=fare.credit_card%></h3>
        -->
        