<table id="fares-table" class="table table-striped col-md-12">
    <thead>
    <tr>
      <th>Date</th>
        <th>Customer</th>      
        <th>Driver</th>
        <th>Total</th>
          <th>Status</th>
        <!--
        <th>Total Time</th>
        <th>Pickup Address</th>
        <th>rate_per_mile</th>
        <th>credit_card</th>
        <th>time_fare</th>
        <th>balance</th>
        <th>Customer</th>
        <th>Date</th>
        <th>Driver</th>
        <th>Total</th>
        <th></th>
        -->
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>